@media screen and (min-width: 1000px) {
  #register_container form div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    width: 80vw;
  }

  #register_container form div div {
    flex: 25%;
    max-width: 300px;
  }

  #register_otpForm form div {
    display: block;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    /* justify-content: center; */
  }

  /* #register_otpForm input {
    width: 100%;
  } */

  #register_otpForm form div div {
    min-width: 250px;
  }

  #otpButton {
    height: 50px;
    margin: auto;
  }
  /* .register_otpInputField {
    max-width: 250px;
    margin-left: -550px;
  } */
}
